.attribution { font-size: 11px; text-align: center; position: absolute; bottom: 0; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(229, 23%, 23%);
    background: no-repeat -442px -402px / 664px  url('images/bg-pattern-top.svg'),
                no-repeat right -450px bottom -350px / 664px url('images/bg-pattern-bottom.svg'),
              hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width: 376px) {
    body {
        background: no-repeat -260px -500px / 964px  url('images/bg-pattern-top.svg'),
                no-repeat right -250px bottom -650px / 964px url('images/bg-pattern-bottom.svg'),
              hsl(185, 75%, 39%);
    }
}

.profile-card {
    width: 327px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 10px 30px -10px hsl(227, 10%, 46%);
}

.profile-card header {
    background: no-repeat -12px 0 url('images/bg-pattern-card.svg');
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
}

.profile-card header img {
    position: relative;
    top: 54px;
    border-radius: 50%;
    border: 6px solid white;
    background-color: white;
}

.profile-card .main {
    padding-top: 54px;
    padding-bottom: 22px;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 90%);        
}

.profile-card .main h1 {
    font-weight: 700;
    font-size: 1.125em;
    margin-top: 1em;
    margin-bottom: .5em;        
}
.profile-card .main h1 small {
    font-weight: 400;
    font-size: 1em;
    color: hsl(227, 10%, 46%);
}

.profile-card .main .city {
    font-weight: 300;
    font-size: .9em;
    color: hsl(227, 10%, 46%);
}

.profile-card footer {
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-card footer .stat {
    display: block;
    width: 60px;
    text-align: center;
    padding: 16px
}

.profile-card footer .stat span {
    display: block;
}

.profile-card footer .stat .value {
    font-size: 1.125em;
    font-weight: 700;
}

.profile-card footer .stat .name {
    
    font-size: .6em;     
    font-weight: 300; 
    letter-spacing: .1rem;
    color: hsl(227, 10%, 46%);
}